<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
On home/Index

<br>
<% if (@registered) %>
Your unique code is <%= @uniquecode %>
<% else %>
Link to profile
<% end %>


<% if (@mockstock) %>
 You are already registered for mock
 <% end %>

</body>
</html>