<p> Hi <%= @name %>, </p>
<p>
You have successfully registered for Netaji Subas Business Case.
<br>To register for more events visit http://consiliumnsit.com/ </p><br><br><br>
Thank You <br>
Team FES <br>
Facebook: https://www.facebook.com/consiliumfes/<br> E-mail: fes.consilium@gmail.com
