<h1>Consilium,NSIT</h1>

<p>
 Hi <%= @name %>,You have successfully registered for <%= @eventname %>.
</p>
You can access your consilium portal with following credentials
<br>
Email:- <%= @email %>
<br>
Password:- conspassword
<br>
Thank You
