<head>
  <link href="/stylesheets/signin.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body style="background-color: #000">
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4 align="center">Sign In</h4>
  </div>
</div>

<section id="total">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel-body">

    <form role="form" class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="LlgUHxRtlzcODUTcmRCV0EdlTIaMFECIhmpbAES2AzbatqPsfh0G33Pg/qbZKlW/+e+3eFPCR86ntge0vCKkow==" />
      <div class="form-group">
        <label for="user_email">Email</label>
        <input autofocus="autofocus" class="form-control" type="email" value="" name="user[email]" id="user_email" />
      </div>

      <div class="form-group">
        <label for="user_password">Password</label>
        <input autocomplete="off" class="form-control" type="password" name="user[password]" id="user_password">
      </div>
      <input type="submit" name="commit" value="Sign in" class="btn btn-primary">
    </form>
    
          <br>
          <a href="'/users/password/new'" onclick="window.location.href='/users/password/new'">Forgot Password?</a>
          <br>
          <button onclick="window.location.href='/users/auth/facebook'" class="loginBtn loginBtn--facebook center-block">Sign In With Facebook</button> <br>

          <h1 align="center">New to Consilium?</h1>
          <button  onclick="window.location.href='/users/sign_up'" class="btn btn-primary center-block">Sign Up</button>
        </form>  
      </div>
    </div>
  </div>
</section>



</body>
</html>
