<h1>Greetings from Finance and Economics Society, NSIT!</h1>

<p> 
Congratulations <%= @name %>, you have successfully registered for Consilium 2018 and here is your unique Consilium Id- <%= @uniquecode %>.<br><br> 

You can now register for the events as part of Consilium'18. Please note that all the participants registering for an event must first generate their unique Consilium Id before registering. <br><br>

Regards <br> 
Team Consilium
</p>
